@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

#frontUI > hr {
    height: 1px;
    /* width: clamp(1px, 80%, 100%); */
  }


/*Hamburger Menu*/
#burger-container {
    position: fixed;
    display: grid;
    justify-items: center;
    align-items: center;
    left: 20px;
    top: 2em;
    height: 60px;
    width: 60px;
    background-color: #1A8996;
    z-index: 101;
    border-radius: 50%;
    border: 2px solid #246873;
    cursor: pointer;
}

#hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #1A8996;
    border: 1px solid #b7eaf0;
}

.line1, .line2, .line3 {
    position: relative;
    margin: 3px;
    width: 30px;
    height: 2px;
    background-color: #b7eaf0;
    transition: 0.3s;
}

#hamburger-menu.active .line1 {
    transform: translateY(8px)rotate(45deg);
}

#hamburger-menu.active .line2 {
    opacity: 0;
    transition: 0.3s;
}

#hamburger-menu.active .line3 {
    transform: translateY(-8px)rotate(-45deg);
}

a {
    cursor: pointer;
}

/*Navigation Bar*/
#nav-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: auto;
}

nav {
    position: relative;
    display: flex;
    left: -100%;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 100;
    height: 100svh;
    gap: 2rem;
    list-style: none;
    padding: 120px 20px 50px 20px;
    background: rgb(47,117,122);
    background: linear-gradient(-45deg, rgba(47,117,122,1) 0%, rgba(77,181,129,1) 100%);
    transition: 0.3s;
}

nav.active {
    left: 0%;
    transition: 0.3s;
}

nav a {
    font-family: Lato, sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #b7eaf0;
    text-decoration: underline;
    text-underline-offset: 10px; 
    transition: 0.3s;
}

nav.active img, nav img {
    position: absolute;
    width: 50%;
    top: 3%;
    right: 0;
}

/*Shop*/
#shop {
    font-family: Lato, sans-serif;
    color: white;
    position: absolute;
    top: 2rem;
    right: 20px;
    z-index: 100;
    padding: 15px 30px;
    border: 2px solid #24CAAB;
    letter-spacing: 4px;
    font-size: 0.75em;
    font-weight: 400;
    border-radius: 500px;
    box-shadow: rgba(14,35,74, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: 0.3s;
}

#shop:hover {
    background-color: #24CAAB;
    transition: 0.3s;
    box-shadow: none;
}

#shop-icon {
    display: none;
    width: 40px;
    height: 40px;
    fill: #cce9ec;
    padding: 0;
}

@media screen and (width < 480px){
    #shop {
        padding: 10px;
    }

    #shop > p {
        display: none;
    }

    #shop-icon {
        display: block;
    }
}

/*wrapper*/

main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100svh;
}

/*sections*/

main > section {
    position: relative;
    display: grid;
    height: 100svh;
    width: 100svw;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

/*home*/

#home-video {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100svw;
    height: 100svh;
}

#home {
    align-items: end;
    justify-content: right;
    padding-bottom: 25px;
}

#home-downloads {
    display: flex;
    align-items: end;
}

.home-icon {
    width: 140px;
    height: 100%;
    padding: 5px;
}

#home-downloads > div {
    width: auto;
}

#home-go-icon {
    width: 150px;
}

@media only screen and (max-width: 572px) {
    #home {
        align-items: end;
        justify-content: center;
        padding-bottom: 25px;
    }

    #home-downloads {
        display: grid;
    }
    
    #home-downloads a:nth-child(1){
        grid-area: 1 / 1 / 1 / 1;
    }

    #home-downloads a:nth-child(2){
        grid-area: 2 / 1 / 2 / 1;
    }

    #home-downloads .container {
        grid-area: 1 / 2 / span 2 / 2;
    }
}

/*news*/

#news {
    background: rgb(47,117,122);
    background: linear-gradient(-45deg, rgba(47,117,122,1) 0%, rgba(77,181,129,1) 100%);
    display: grid;
    justify-content: center;
    align-items: center;
}

#news-container {
    position: relative;
    top: 20px;
    width: 80svw;
    height: 80svh;
    background-color: #A5D1BC;
    border-radius: 10px;
    padding: 15px;
}

#news-pokeball {
    position: absolute;
    width: 70px;
}

#news-main {
    display: grid;
    justify-items: right;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #F9FBFB;
    border-radius: 10px;
    overflow: hidden;
    clip-path: polygon(15% 0, 100% 0, 100% 20%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0% 20%);
}

#news-carousel {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

#news-carousel img {
    flex: 1 0 100%;
    object-fit: cover;
}

#news-body{
    position: absolute;
    z-index: 2;
    display: grid;
    justify-items: center;
    grid-template-rows: 10fr 2fr;
    height: 100%;
    width: 30%;
    background: rgba(14,35,74, 0.75);
    box-shadow: rgba(14,35,74, 0.25) 0px 54px 55px, rgba(14,35,74, 0.12) 0px -12px 30px, rgba(14,35,74, 0.12) 0px 4px 6px, rgba(14,35,74, 0.17) 0px 12px 13px, rgba(14,35,74, 0.09) 0px -3px 5px;
}

#actual-news {
    display: grid;
    overflow-y: scroll;
    padding: 20px;
}

#actual-news div {
    position: absolute;
    visibility: hidden;
    width: 100%;
    opacity: 0;
    color: #FDFEFD;
}

#actual-news div h1 {
    font-family: Roboto Condensed, sans-serif;
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 700;
}

#actual-news div p {
    font-family: Lato, sans-serif;
    font-size: 1em;
    line-height: 1.25em;
    font-weight: 300;
}

#news-nav {
    display: flex;
    place-items: center;
    margin: 5px;
}

#actual-news .active {
    position: relative;
    visibility:visible;
    opacity: 100;
    transition: all 0.3s linear;
}

.slide-circle {
    margin: 5px;
    height: 10px;
    width: 10px;
}

@media only screen and (max-width: 768px) {
    #news-body {
        height: 50%;
        width: 100%;
        bottom: 0;
    }

    #actual-news div h1 {
        font-size: 2em;
    }
}

/*NPCs*/

#npcs {
    position: relative;
    background: url(../assets/images/npcs_bg.png), #282d37;
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    overflow: hidden;
}

#npcs-slider {
    display: flex;
    top: auto;
    position: relative;
    width: 80svw;
    height: 80svh;
    overflow: hidden;
}

#npcs-slider > div {
    height: 100%;
    width: 100%;
    flex: 1 0 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
}

.npc-img {
    top: auto;
    position: absolute;
    z-index: 1;
    justify-self: center;
    /* width: clamp(300px, 5svh, 25%); */
    width: 300px;
}

.npc-desc {
    position: relative;
    font-size: 1.3rem;
    z-index: 0;
    width: 60%;
    font-family: Roboto Condensed, sans-serif;
    font-weight: 400;
}

.npc-desc > h1 {
    font-family: Lato, sans-serif;
    font-weight: 700;
}

.npc-name {
    font-family: Lato, sans-serif;
    font-size: 5rem;
    display: flex;
    align-self: flex-end;
    font-weight: 800;
    letter-spacing: 5px;
}

.npc-dialog {
    top: 20px;
    position: relative;
    text-align: justify;
    z-index: 2;
    grid-column: span 2;
    padding: 20px;
    background-color: #FFFEFE;
    height: fit-content;
    font-family: Roboto Condensed, sans-serif;
    font-size: 1.2rem;
    border-radius: 10px;
    width: 60%;
    color:#246873;
    box-shadow: rgba(36, 104, 115, 0.25) 0px 50px 100px -20px, rgba(36, 104, 115, 0.3) 0px 30px 60px -30px, rgba(36, 104, 115, 0.35) 0px -2px 6px 0px inset;
}

#npcs-nav {
    height: 375px;
    position: absolute;
    display: flex;
    align-items: start;
    justify-self: flex-end;
    align-self: center;
    flex-direction: column;
    gap: 10px;
    right: 3svw;
    overflow-y: auto;
    z-index: 5;
}

.npc-thumbnail {
    position: relative;
    background: url(../assets/images/npcs_bg.png), #282d37;
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 75px;
    height: 75px;
    overflow: hidden;
    align-items: flex-start;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.npc-thumbnail img {
    position: relative;
    width: 150%;
    right: 20px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    #npcs {
        padding-left: 30px;
        justify-content: center;
    }
    #npcs-slider {
        position: relative;
        height: 60svh;
        margin-bottom: 50px;
    }
    #npcs-slider > div {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
    }
    .npc-desc, .npc-dialog {
        display: none;
    }
    .npc-name {
        z-index: 2;
        font-size: 3.2em;
        color: #31787a;
        text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    #npcs-nav {
        height: 75px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 10px;
        overflow: auto;
        z-index: 5;
        bottom: 0;
    }
}

/*pokemon*/

#pokemon {
    position: relative;
    overflow: hidden;
    background: rgb(47,117,122);
    background: linear-gradient(-45deg, rgba(47,117,122,1) 0%, rgba(77,181,129,1) 100%);
}

#pokemon-bg-wrapper {
    height: 100svh;
    width: 100svw;
    position: relative;
}

#pokemon-bg-wrapper .pokemon-bg {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}

#pokemon-bg-wrapper .pokemon-bg.active {
    opacity: 1;
    z-index: 1;
}

#pokemon-bg-wrapper .pokemon-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pokemon-bg-wrapper .pokemon-bg::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(47,117,122,1) 20%, transparent);
}

#pokemon-bg-wrapper .pokemon-bg .pokemon-content {
    position: absolute;
    left: 2rem;
    top: 15svh;
    width: 60svw;
    z-index: 1;
    color: #f0f0f0;
}

#pokemon-bg-wrapper .pokemon-bg .pokemon-content h1{
    font-family: Roboto Condensed, sans-serif;
    font-weight: 500;
    letter-spacing: 10px;
    font-size: 4em;
}

#pokemon-bg-wrapper .pokemon-bg .pokemon-content p{
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

#pokemon-bg-wrapper .pokemon-bg .pokemon-content h1 {
    animation-delay: 1s;
}

#pokemon-bg-wrapper .pokemon-bg .pokemon-content p {
    animation-delay: 1.3s;
}

#pokemon-bg-wrapper .pokemon-bg .pokemon-content h1,
#pokemon-bg-wrapper .pokemon-bg .pokemon-content p {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

#pokemon-mini-wrapper {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100svw;
    height: 45svh;
    z-index: 2;
}

#pokemon-mini-wrapper .pokemon-card {
    display: grid;
    position: relative;
    justify-items: center;
    align-items: center;
    width: 100%;
    filter: brightness(.5);
    transition: .5s;
}

#pokemon-mini-wrapper .pokemon-card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pokemon-mini-wrapper .pokemon-card.active {
    width: 200%;
    filter: brightness(1);
}

#pokemon-mini-wrapper .pokemon-card.active p {
    font-size: 3em;
    transition: all 0.5s ease-out;
}

#pokemon-mini-wrapper .pokemon-card p {
    writing-mode: vertical-rl;
    font-family: Roboto Condensed, sans-serif;
    position: absolute;
    font-size: 2.5em;
    font-weight: 700;
    color: white;
    width: 100%;
    
    text-shadow: rgba(0, 0, 0, 0.25) 0px 3px 6px, rgba(0, 0, 0, 0.50) 0px 3px 6px; 
}

@media screen and (max-width: 572px) {
    #pokemon-bg-wrapper .pokemon-bg .pokemon-content {
        width: 80svw;
    }

    #pokemon-bg-wrapper .pokemon-bg .pokemon-content h1{
        font-size: 2.5em;
    }
    #pokemon-bg-wrapper .pokemon-bg .pokemon-content p{
        font-size: 1em;
    }
    #pokemon-mini-wrapper .pokemon-card.active {
        width: 300%;
    }
}

@media screen and (min-width: 573px) and (max-width: 768px) {
    #pokemon-bg-wrapper .pokemon-bg .pokemon-content {
        width: 80svw;
    }

    #pokemon-bg-wrapper .pokemon-bg .pokemon-content h1{
        font-size: 3.25em;
    }
    #pokemon-bg-wrapper .pokemon-bg .pokemon-content p{
        font-size: 1.25em;
    }
    #pokemon-mini-wrapper .pokemon-card.active {
        width: 300%;
    }
}

/*ITEMS*/

#items {
    background-image: url('../assets/images/items_bg.svg');
    background-size: cover;
    overflow: hidden;
}

.item-container {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 40%;
    padding: 50px;
    transition: all 0.3s ease-in-out;
}

.item-container.pokeball {
    top: 0%;
    left: 10%;
}

.item-container.pokeball::after {
    content: "pokeball";
    display: none;
    position: absolute;
    width: fit-content;
    font-size: 1em;
    left: 50px;
    bottom: 25px;
}


.item-container.incense {
    top: 25%;
    left: 0%;
}

.item-container.incubators {
    top: 55%;
    left: 10%;
}

.item-container.lucky-egg {
    top: -10%;
    left: 30%;
}

.item-container.lure-modules {
    top: 25%;
    left: 25%;
}

.item-container.team-medal {
    top: 60%;
    left: 40%;
}

.item-container.radars {
    top: 10%;
    left: 50%;
}

.item-container.raid-pass {
    top: 40%;
    left: 60%;
}

.item-container.ticket {
    top: 50%;
    left: 80%;
}

.item-container.pokecoin {
    top: 0%;
    left: 70%;
}

.item-container.active{
    top: 50%;
    left: 50%;
    transform: translate(calc(-30% - 50px), -50%);
    transition: all 0.3s ease-in-out;
    color: #fff;
    z-index: 3;
}

.item-container.inactive {
    top: -1000vh;
    transition: all 1s ease-in-out;
}

.item-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.item-wrapper.active {
    grid-template-columns: 0.5fr 1fr;
}

.item-wrapper.active .item-hover {
    display: none;
}

.item-img {
    display: flex;
    align-items: center;
    width: 100%;
}

.item-img img:nth-child(1) {
    width: 150px;
    z-index: 1;
    cursor: pointer;
}

.item-img img:nth-child(2) {
    position: absolute;
    width: 200px;
    transform: translate(-30% , 15%);
    z-index: 0;
}

.item-hover {
    opacity: 0;
    font-family: Lato, sans-serif;
    font-weight: 800;
    color: #fff;
    position: absolute;
    left: -50svw;
    bottom: 25px;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
}

.item-img:hover .item-hover {
    opacity: 100;
    left: 50px;
}

.item-content {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: -100vh;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.item-content h1 {
    font-size: 3em;
    font-family: Roboto Condensed, sans-serif;
    letter-spacing: 5px;
    font-weight: 800;
}

.item-content hr{
    margin-bottom: 1em;
}

.item-content p {
    line-height: 1.25em;
    font-family: Lato, sans-serif;
    font-weight: 300;
}

.item-content.active {
    display: inline;
    opacity: 100;
    visibility: visible;
    position: relative;
    bottom: 0;
    animation: contentActive 0.8s 1;
}

@keyframes contentActive {
    from {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: -100vh;
    }
    to {
        opacity: 100;
        visibility: visible;
        position: relative;
        bottom: 0;
    }
}

/*GAMEPLAY*/

#gameplay {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(215,185,237);
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='40' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M0 30h20L10 50zm-10-20h20L0 30zm20 0h20L20 30zM0-10h20L10 10z'  stroke-width='1' stroke='hsla(204, 45%, 94%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"), linear-gradient(-180deg, rgba(215,185,237,1) 0%, rgba(136,149,243,1) 100%);
    background-blend-mode: multiply;
}

.swiper-desktop {
    width: 80svw;
    height: 80svh;
    overflow: hidden;
}

.swiper-mobile {
    width: 80svw;
    height: 80svh;
    overflow: hidden;
    display: none;
}

@media screen and (max-width: 572px) {
    .swiper-desktop {
        display: none;
    }
    .swiper-mobile {
        display: inline;
    }
}

.swiper-slide {
    display: flex;
    place-items: center;
}

.swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.swiper-button-prev {
    background-image: url("../assets/icons/arrow_left.svg") !important;
    background-repeat: no-repeat;
    background-position: right;
}
  
.swiper-button-next {
    background-image: url("../assets/icons/arrow_right.svg") !important;
    background-repeat: no-repeat;
    background-position: left;
}

.swiper-button-prev::after, .swiper-button-next::after {  
    color: #fff;
}

/*SEASON*/

#season {
    display: grid;
    background-color: gray;
}

#season-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    z-index: 2;
    background-image: url('../assets/images/seasons-articlebg.jpg');
    background-attachment: local;
    background-position: center top;
    background-size: cover;
}

#season-wrapper article {
    height: 100%;
    width: 100%;
    flex: 1 0 100%;
}

#season-wrapper::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 10%;
    top: 41%;
    z-index: -0;
    border-radius: 100px 100px 0px 0px;
    background: inherit;
    background-position: 0px calc(100svh * -0.4);
}

#season-wrapper article > div > h1 {
    font-size: 3em;
    font-family: Lato, sans-serif;
    font-weight: 800;
    color:#0E234A;
}

#season-wrapper article > div > p {
    font-family: Lato, sans-serif;
    font-size: 1.2em;
    color: #1e1e1e;
}


#season-home img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

#season-home-content {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    gap: 4svh;
}

#season-locs {
    display: grid;
    padding-bottom: 50px;
    grid-template-rows: 30% 70%;
    justify-items: center;
    align-items: center;
}

#season-locs-wrapper {
    position: relative;
    display: flex;
    top: 3%;
    gap: 40px;
    width: 80svw;
    height: 70svh;
}

#season-locs-content {
    width: 60%;
    text-align: center;
}

.locs-card {
    display: grid;
    position: relative;
    grid-template-rows: 40% 60%;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 50px rgba(0,0,0,.25);
    background-color: #f5efda;
    border-radius: 25px;
    overflow: hidden;
}

.locs-card > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-content {
    background-image: url('../assets/icons/pokeball-violet.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: top right;
    padding: 20px;
    color: #2b408c;
    font-family: Lato, sans-serif;
}

.card-content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 800;
}

.card-content h5 {
    font-weight: 600;
}

.card-content p {
    margin-top: 10px;
}

.season-pokeball {
    position: absolute;
    right: 0;
}

#season-global {
    display: flex;
    justify-content: center;
    align-items: center;
}

#global-content {
    position: relative;
    width: 50%;
    text-align:center;
}

#global-content h1 {
    font-size: 3em;
    font-family: Lato, sans-serif;
    font-weight: 800;
    color:#0E234A;
    margin-bottom: 5px;
}

#global-content p {
    font-family: Lato, sans-serif;
    font-size: 1.2em;
    color: #1e1e1e;
}

#season-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    right: 20px;
    z-index: 5;
}

.season-icons {
    background-color: rgba(26, 137, 150, 0.7);
    border: 3px solid #b7eaf0;
    border-radius: 50px;
    transition: 0.3s;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.season-icons:hover {
    background-color: rgba(26, 137, 150, 1);
}

@media screen and (max-width: 572px){
    #season-wrapper article > div > h1 {
        font-size: 1.5em;
    }
    #season-wrapper article > div > p {
        font-size: 1em;
    }
    #season-locs-wrapper {
        position: relative;
        top: 5%;
        flex-direction: column;
        gap: 20px;
    }
    #season-locs-content {
        position: relative;
        top: 7%;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 70%;
    }
    #season-locs-content h1 {
        width: 80%;
    }
    .card-content h1 {
        font-size: 1.4em;
    }
    #global-content {
        width: 60%
    }
    #global-content h1 {
        font-size: 1.4em;
    }
    #global-content p {
        font-size: 1em;
    }
    #season-nav {
        bottom: 5%;
    }
}

@media screen and (min-width: 573px) and (max-width: 768px) {
    #season-wrapper article > div > h1 {
        font-size: 1.8em;
    }
    #season-wrapper article > div > p {
        font-size: 1.1em;
    }
    #season-locs-wrapper {
        position: relative;
        width: 90svw;
        top: 5%;
        gap: 20px;
    }
    #season-locs-content {
        position: relative;
        top: 7%;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 70%;
    }
    #season-locs-content h1 {
        width: 80%;
    }
    .card-content h1 {
        font-size: 1.4em;
    }
    .card-content p {
        font-size: 0.8em;
    }
    #global-content {
        width: 60%
    }
    #global-content h1 {
        font-size: 1.4em;
    }
    #global-content p {
        font-size: 1em;
    }
}

/*credits*/

#credits {
    height: fit-content;
    background-color: #0E234A;
    padding: 4svh 4svw 4svh 4svw;
    display: grid;
    color: #FEFEFF;
    font-family: Lato, sans-serif;
    font-weight: 200;
    font-size: 2svh;
    line-height: 120%;
    justify-items: center;
}

#credits > p {
    text-align: center;
}