@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

/*Hamburger Menu*/
#burger-container {
    position: fixed;
    display: grid;
    justify-items: center;
    align-items: center;
    left: 20px;
    top: 2rem;
    height: 60px;
    width: 60px;
    background-color: #1A8996;
    z-index: 3;
    border-radius: 50%;
    border: 2px solid #246873;
}

#hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #1A8996;
    z-index: 2;
    border: 1px solid #b7eaf0;
}

.line1, .line2, .line3 {
    position: relative;
    margin: 3px;
    width: 30px;
    height: 2px;
    background-color: #b7eaf0;
    transition: 0.3s;
}

#hamburger-menu.active .line1 {
    transform: translateY(8px)rotate(45deg);
}

#hamburger-menu.active .line2 {
    opacity: 0;
    transition: 0.3s;
}

#hamburger-menu.active .line3 {
    transform: translateY(-8px)rotate(-45deg);
}

/*Navigation Bar + UI*/
#frontUI {
    position: fixed;
    display: grid;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
}

#UIElement {
    position: relative;
    width: auto;
}

nav {
    position: relative;
    display: flex;
    left: -100%;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
    height: 100svh;
    gap: 2rem;
    list-style: none;
    padding: 100px 20px 50px 20px;
    background: rgb(47,117,122);
    background: linear-gradient(-45deg, rgba(47,117,122,1) 0%, rgba(77,181,129,1) 100%);
    transition: 0.3s;
}

nav.active {
    left: 0%;
    transition: 0.3s;
}

a {
    font-family: Lato, sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #b7eaf0;
    text-decoration: underline;
    text-underline-offset: 10px; 
    transition: 0.3s;
}

main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100svh;
}

section {
    display: grid;
    height: 100svh;
    width: 100swh;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

#home-video {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100svw;
    height: 100svh;
}

#home {
    align-items: end;
    justify-content: right;
    padding-bottom: 25px;
}

#home-downloads {
    display: flex;
    align-items: end;
}

.home-icon {
    width: 140px;
    height: 100%;
    padding: 5px;
}

#home-downloads > div {
    width: auto;
}

#home-go-icon {
    width: 150px;
}

#news {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(215,185,237);
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='40' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M0 30h20L10 50zm-10-20h20L0 30zm20 0h20L20 30zM0-10h20L10 10z'  stroke-width='1' stroke='hsla(204, 45%, 94%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"), linear-gradient(-180deg, rgba(215,185,237,1) 0%, rgba(136,149,243,1) 100%);
    background-blend-mode: multiply;
}

/* #news-container {
    
} */

#npcs {
    background-color: pink;
}

#pokemon {
    background-color: yellow;
}

#items {
    background-color: orange;
}


#gameplay {
    background-color: violet;
}

#season {
    background-color: gray;
}

#credits {
    height: 30svh;
}