body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.logo-image {
    width: 60px;
    height: 30px;
    margin-left: 10px;
}

.payment-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.payment-section {
    flex: 1;
    background: linear-gradient(to right, #1A8996, #24CAAB); 
    color: white;
    padding: 20px;
}

.payment-summary {
    flex: 1;
    background-color: white;
    color: black;
    padding: 20px;
}

.payment-title {
    display: flex;
    align-items: center;
    padding: 20px 10px 50px 190px;
}

.side-payment-header {
    margin-bottom: 20px;
    padding: 0px 10px 10px 250px;
}

.side-payment-header h2 {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}

.side-payment-header h2 {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}

.payment-header {
    margin-bottom: 20px;
    padding: 0px 0px 0px 0px;
    text-align: right;
    padding-right:10rem;
}

.payment-header h2 {
    margin-top: 10px;
    font-weight: 700;
    font-size: 30px;
}

.side-payment-details {
    font-size: 18px;
    padding-right: 3rem;
}

.payment-details {
    font-size: 18px;
    padding-right:11rem;
    padding-left: 3rem;
    margin-top: 50px;
}

.detail-row {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;
}

.side-detail-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0px 10px 0px 250px;
}

.detail-end {
    display: flex;
    align-items: center;
}

.side-detail-end {
    display: flex;
    align-items: center;
    padding: 313px 10px 50px 250px;
}

.underline{
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
}

.underline:hover{
    color: rgb(190, 190, 190);
    cursor: pointer;
}

.side-detail-value {
    flex: 2;
    text-align: right;
    font-weight: 400;
    font-size: 14px;
}

.detail-label {
    flex: 1;
    font-size: 14px;
    font-weight: 700;
}

.side-detail-label {
    padding-right: 1rem;
    font-weight: 200;
    font-size: 14px;
}

.detail-value {
    flex: 2;
    text-align: right;
}

.detail-row.rounded-border {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top:30px
}

.detail-label, .detail-value {
    margin-bottom: 5px;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container input {
    flex: 1;
    margin-right: 10px;
}

.payment-details input[type="text"],
.payment-details input[type="email"],
.payment-details select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.payment-details select{
    width: 106%;
}

.optional-label {
    color: #888;
}

.pay-button {
    width: 106%;
    padding: 10px;
    background-color: #24CAAB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}

.pay-button:hover{
    background-color: #1A8996;
}

.pay-button:active{
    opacity: .5;
}

#back-button{
    width: 25px
}

.rounded-border {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

.payment{
    flex: 1;
}

/* Media Queries */

@media (max-width: 1150px) {
    .payment-container {
        flex-direction: column;
    }

    .payment-section {
        flex: 1;
        background: linear-gradient(to right, #1A8996, #24CAAB); 
        color: white;
        padding-right: calc(10%);
        padding-top: calc(5%);
        padding-bottom: calc(5%);
        padding-left: 0;
    }
    
    .payment-title {
        display: flex;
        align-items: center;
        padding: 20px 10px 50px 110px;
    }
    
    .side-payment-header {
        margin-bottom: 20px;
        padding: 0px 10px 10px 150px;
    }
    
    .side-payment-header h2 {
        margin: 0;
        font-weight: 400;
        font-size: 20px;
    }
    
    .payment-summary {
        flex: 1;
        background-color: white;
        color: black;
        padding: 0;
        margin-left: calc(10%);
        margin-top: calc(5%);
        margin-bottom: calc(5%);
    }

    .payment-details {
        padding-right:11rem;
        padding-left: 3rem;
        margin-top: 50px;
    }

    .side-detail-end {
        padding: 190px 10px 50px 150px;
    }

    .side-detail-row {
        margin-bottom: 10px;
        padding: 0px 10px 0px 150px;
    }

    .side-detail-value {
        flex: 2;
        text-align: right;
        font-weight: 400;
        font-size: 18px;
    }

    .side-detail-label {
        font-weight: 200;
        font-size: 18px;
    }

    .detail-label {
        flex: 1;
        font-size: 18px;
        font-weight: 700;
    }

    .payment-details input[type="text"],
    .payment-details input[type="email"],
    .payment-details select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    }

    .pay-button {
        width: 103%;
        font-size: 16px;
    }

    .payment-details select{
        width: 103%;
    }

    .payment-header {
        padding-right:10rem;
    }

}

@media (max-width: 768px) {
    .payment-container {
        flex-direction: column;
    }
    
    .payment-title {
        display: flex;
        align-items: center;
        padding: 20px 10px 50px 50px;
    }
    
    .side-payment-header {
        margin-bottom: 20px;
        padding: 0px 10px 10px 90px;
    }
    
    .side-payment-header h2 {
        margin: 0;
        font-weight: 400;
        font-size: 20px;
    }
    
    .payment-summary {
        flex: 1;
        background-color: white;
        color: black;
        padding: 0;
        margin-left: calc(10%);
        margin-top: calc(5%);
        margin-bottom: calc(5%);
    }

    .side-detail-end {
        padding: 190px 10px 50px 90px;
    }

    .side-detail-row {
        margin-bottom: 10px;
        padding: 0px 10px 0px 90px;
    }

    .side-detail-value {
        flex: 2;
        text-align: right;
        font-weight: 400;
        font-size: 18px;
    }

    .side-detail-label {
        font-weight: 200;
        font-size: 18px;
    }

    .detail-label {
        flex: 1;
        font-size: 18px;
        font-weight: 700;
    }

    .payment-details {
        padding-right:8rem;
        padding-left: 3rem;
        margin-top: 50px;
    }

    .optional-label {
        color: #888;
        font-size: 14px;
    }

    .payment-details input[type="text"],
    .payment-details input[type="email"],
    .payment-details select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    }

    .pay-button {
        width: 105%;
        font-size: 16px;
    }

    .payment-details select{
        width: 104.5%;
    }

    .payment-header {
        padding-right:7rem;
    }

}

@media (max-width: 550px) {

    .payment-details img {
        display: none;
    }

    .payment-container {
        flex-direction: column;
    }
    
    .payment-title {
        display: flex;
        align-items: center;
        padding: 20px 10px 50px 20px;
    }
    
    .side-payment-header {
        margin-bottom: 20px;
        padding: 0px 10px 10px 50px;
    }
    
    .side-payment-header h2 {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
    }

    .side-payment-details{
        padding-right: 0rem;
    }
    

    .side-detail-end {
        padding: 190px 10px 50px 50px;
    }

    .side-detail-row {
        margin-bottom: 10px;
        padding: 0px 10px 0px 50px;
    }

    .side-detail-value {
        flex: 2;
        text-align: right;
        font-weight: 400;
        font-size: 16px;
    }

    .side-detail-label {
        font-weight: 200;
        font-size: 16px;
    }

    .detail-label {
        flex: 1;
        font-size: 16px;
        font-weight: 700;
    }

    .detail-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .payment-details input[type="text"],
    .payment-details input[type="email"],
    .payment-details select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    }

    .payment-header {
        margin-bottom: 20px;
        padding: 0px 0px 0px 0px;
        text-align: right;
        padding-right:3rem;
    }

    .payment-header h2 {
        margin-top: 10px;
        font-weight: 700;
        font-size: 27px;
    }

    .payment-details {
        padding-right:4rem;
        padding-left: 0rem;
        margin-top: 50px;
    }

    .pay-button {
        width: 105.5%;
        font-size: 16px;
    }

    .payment-details select{
        width: 104.5%;
    }

}

@media (max-width: 360px) {
    
    .side-payment-header h2 {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
    }

    .side-payment-details{
        padding-right: 0rem;
    }
    
    .side-detail-end {
        padding: 190px 10px 50px 50px;
    }

    .side-detail-row {
        margin-bottom: 10px;
        padding: 0px 10px 0px 50px;
    }

    .side-detail-value {
        flex: 2;
        text-align: right;
        font-weight: 400;
        font-size: 14px;
    }

    .side-detail-label {
        font-weight: 200;
        font-size: 14px;
    }

    .detail-label {
        flex: 1;
        font-size: 16px;
        font-weight: 700;
    }

    .payment-details input[type="text"],
    .payment-details input[type="email"],
    .payment-details select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    }

    .payment-header {
        margin-bottom: 20px;
        padding: 0px 0px 0px 0px;
        text-align: right;
        padding-right:3rem;
    }

    .payment-header h2 {
        margin-top: 10px;
        font-weight: 700;
        font-size: 25px;
    }

    .payment-details {
        padding-right:4rem;
        padding-left: 0rem;
        margin-top: 50px;
    }

    .pay-button {
        width: 109%;
        font-size: 14px;
    }

    .payment-details select{
        width: 104.5%;
    }

}