body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    background-color: #24CAAB;
    color: white;
    padding: 5px 20px;
    height: 60px;
}

main {
    padding-top: 60px;
    padding: 20px;
}

.card {
    border-radius: 10px;
    margin: 1rem 2rem 1rem 2rem;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column; /* Display items vertically */
}

.user-info{
    padding: 0rem 1rem 0rem 1rem;
    
}

.upper-user-info{
    background-image: url('/assets/images/wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:cover;
    background-color: #f0f0f0; /* Light gray */
    margin:0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.user-pic img {
    border-radius: 30%;
    width: 5.5rem;
    margin: 2rem 1rem 1rem 2rem;
    box-shadow: 2px 2px 2px #272727;
}


.user-info h2 {
    font-size: 24px;
    width: 8rem;
    margin: 3rem 0rem -0.5rem -1rem;
    color:#272727
}

.user-info p {
    font-size: 14px;
    margin: 0rem -10rem 0rem -1rem;
    color:#272727;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.follow-btn {
    background-color: #24CAAB; /* Button background color */
    color: white; /* Button text color */
    padding: 0.2rem 0.2rem; /* Padding around button text */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add rounded corners */
    font-size: 11px; /* Button text size */
    font-weight: 700;
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
    box-shadow: 2px 2px 2px #272727;
    margin: -0.5rem -10rem 0rem -1rem;
}

.follow-btn:hover {
    background-color: #1AAB8E; /* Darker background color on hover */
}

.user-stats-bio {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start; /* Change to flex-start */
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top: 3px solid #24CAAB;
    box-shadow: 2px 2px 3px #bebebe;
}

.stat{
    padding: 1rem 0rem 1rem 0rem;
}

.first-stat{
    padding-left: 1rem;
}

.user-pic,
.user-info,
.social {
    flex-grow: 0; /* Prevent columns from growing */
    width: auto; /* Reset width to auto */
}

.user-info {
    margin-right: 10px; /* Add margin between user-info and social */
}
.user-stats {
    display: flex;
    flex-direction: row;
}

.user-stats .column {
    flex-direction: column;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #ccc; /* Adding vertical line */
}

.user-stats .column:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none; /* Remove vertical line for the last column */
}

.user-stats .column strong {
    font-weight: bold;
}

.user-stats .column span {
    margin-top: 5px;
}

.user-stats-bio {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items vertically at the start */
}

.user-bio {
    text-align: right; /* Align text to the right */
    max-width: 500px;
    word-wrap: break-word;
    padding: 0rem 1rem 0rem 0rem;
}

.user-bio p {
    max-width: 40rem;
    word-wrap: break-word;
    font-size: 13px;
    padding-left: 2rem;
}

.social {
    flex-grow: 0; /* Prevent column from growing */
    flex-shrink: 0; /* Prevent column from shrinking */
    padding: 0 0px;
    margin-right: 0; /* Remove margin between columns */
    width: 10%; /* Set width to 20% of the container */
    min-width: 60px;
}

.social img {
    min-width: 1.5rem; /* Make social media icons responsive */
    max-width: 2rem;
    height: auto; /* Maintain aspect ratio */
    margin: 5.9rem 0.3rem 0rem 0rem;
}

.prof-link{
    width: 10rem;
    margin-top: 1.5rem;
}

.content-section {
    display: flex;
    justify-content:flex-start;
    margin: 20px 0;
}

.column1 {
    flex-grow: 1;
    margin: 1rem 2rem 1rem 2rem;
}

.content-section .row {
    margin-bottom: 10px;
}

.content-section .row:last-child {
    margin-bottom: 0;
}

.content-section .row a {
    margin-right: 10px;
    text-decoration: none;
    color: #000;
}

.content-section .row a.selected {
    font-weight: bold;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.content-section .row.cards {
    display: flex;
    justify-content: flex-start; /* Align cards to the left */
    margin-bottom: 10px;
}


.content-section .card .row:last-child {
    align-items: flex-end;
}

.content-section .row a:hover {
    font-weight: bold;
    color: #24CAAB; /* Change color on hover */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

/* CSS for Pokemon Card */
.pokemon-card {
    border-radius: 5%;
    overflow: hidden;
    margin-right: 10px; /* Add margin between cards */
    flex: 1; /* Allow cards to grow and fill available space */
    max-width: 20rem; /* Set maximum width for cards */
    display: flex; /* Display as flex container */
    box-shadow: 2px 2px 2px #c5c5c5;
}

.pokemon-card .pokemon-img {
    width: 40%; /* Ensure the image fills the width of its container */
    height: auto;
    background-color: #ffffff;
    padding: 0.5rem;
}

.pokemon-card .pokemon-info {
    flex: 1; /* Allow info section to grow */
    padding: 10px;
    display: flex; /* Display as flex container */
    flex-direction: column; /* Items inside displayed vertically */
    justify-content:space-between;
    background-color: #24CAAB;
    background-image: url('/assets/profilePokemons/mewtwo2.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:cover;
    background-color: #f0f0f0;
    backdrop-filter: blur(100px);
}

.pokemon-card h3,
.pokemon-card p {
    margin: 0; /* Remove default margin */
}

.pokemon-card p{
    margin: 0.5rem;
    text-align: right;
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.pokemon-card h3{
    margin: 0.5rem;
    text-align: left;
    color: black;
    font-size: 26px;
    
}

.column2 {
    background: #e7e7e7; /* Placeholder for red shape */
    background-image: url('/assets/images/cartbg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    flex-grow: 0;
    width: 30rem; /* Adjust width as needed */
    margin: 1rem 2rem 1rem 2rem;
    border-radius: 23px;
}

.column2 .card {
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 2px 2px 2px #ffffff;
    margin-top:1.6rem;
    box-shadow: 1px 1px 4px #202020;
    padding: 1rem 0rem 1.5rem 0.5rem;
}

.column2 .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem 1rem;
}

.column2 h2 {
    margin: 0;
    font-size: 26px;
}

.column2 img {
    width: 5rem;
    height: auto;
    margin-right: 10px;
    border-radius: 20%;
    border: 2px solid #24CAAB; /* Add border to give the medals a circular appearance */
    background-color: #ffffff;
    box-shadow: 1px 1px 3px #3d3d3d;
}

.footer {
    background-color: #3498db; 
    height: 100px; 
}