body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    background-color: #24CAAB;
    color: white;
    padding: 5px 20px;
    height: 60px;
}

main {
    padding-top: 60px;
    padding: 20px;
}

a{
    text-decoration: none;
}

.card {
    border-radius: 10px;
    margin: 1rem 2rem 1rem 2rem;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.user-info{
    padding: 0rem 1rem 0rem 1rem;
    
}

.upper-user-info{
    background-image: url('/assets/images/wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:cover;
    background-color: #f0f0f0;
    margin:0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.user-pic img {
    border-radius: 30%;
    width: 5.5rem;
    margin: 2rem 1rem 1rem 2rem;
    box-shadow: 2px 2px 2px #272727;
}


.user-info h2 {
    font-size: 24px;
    width: 8rem;
    margin: 3rem 0rem -0.5rem -1rem;
    color:#272727
}

.user-info p {
    font-size: 14px;
    margin: 0rem -10rem 0rem -1rem;
    color:#272727;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.follow-btn {
    background-color: #24CAAB;
    color: white;
    padding: 0.2rem 0.2rem;
    border: none;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 2px #272727;
    margin: -0.5rem -10rem 0rem -1rem;
}

.follow-btn:hover {
    background-color: #1AAB8E;
}

.user-stats-bio {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top: 3px solid #24CAAB;
    box-shadow: 2px 2px 3px #bebebe;
}

.stat{
    padding: 1rem 0rem 1rem 0rem;
}

.first-stat{
    padding-left: 1rem;
}

.user-pic,
.user-info,
.social {
    flex-grow: 0;
    width: auto;
}

.user-info {
    margin-right: 10px; 
}
.user-stats {
    display: flex;
    flex-direction: row;
}

.user-stats .column {
    flex-direction: column;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #ccc; 
}

.user-stats .column:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none; 
}

.user-stats .column strong {
    font-weight: bold;
}

.user-stats .column span {
    margin-top: 5px;
}

.user-stats-bio {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.user-bio {
    text-align: right; 
    max-width: 500px;
    word-wrap: break-word;
    padding: 0rem 1rem 0rem 0rem;
}

.user-bio p {
    max-width: 40rem;
    word-wrap: break-word;
    font-size: 13px;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.social {
    flex-grow: 0; 
    flex-shrink: 0; 
    padding: 0 0px;
    margin-right: 0; 
    width: 10%; 
    min-width: 60px;
}

.social img {
    min-width: 1.5rem; 
    max-width: 2rem;
    height: auto; 
    margin: 5.9rem 0.3rem 0rem 0rem;
}

.prof-link{
    width: 10rem;
    margin-top: 1.5rem;
}

.content-section {
    display: flex;
    justify-content:flex-start;
    margin: 20px 0;
}

.column1 {
    flex-grow: 1;
    margin: 1rem 2rem 1rem 2rem;
}

.content-section .row {
    margin-bottom: 10px;
}

.content-section .row:last-child {
    margin-bottom: 0;
}

.content-section .row a {
    margin-right: 10px;
    text-decoration: none;
    color: #000;
}

.content-section .row a.selected {
    font-weight: bold;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.content-section .row.cards {
    display: flex;
    justify-content: flex-start; 
    margin-bottom: 10px;
}


.content-section .card .row:last-child {
    align-items: flex-end;
}

.content-section .row a:hover {
    font-weight: bold;
    color: #24CAAB;
    transition: color 0.3s ease;
}

.column2 {
    background: #e7e7e7;
    background-image: url('/assets/images/cartbg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    flex-grow: 0;
    width: 30rem;
    margin: 1rem 2rem 1rem 2rem;
    border-radius: 23px;
}
.column2 .card {
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 2px 2px 2px #ffffff;
    margin-top:1.6rem;
    box-shadow: 1px 1px 4px #202020;
    padding: 1rem 0rem 1.5rem 0.5rem;
}

.column2 .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem 1rem;
}

.column2 h2 {
    margin: 0;
    font-size: 26px;
}

.column2 img {
    width: 5rem;
    height: auto;
    margin-right: 10px;
    border-radius: 20%;
    border: 2px solid #24CAAB;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px #3d3d3d;
}

.card input[type="text"],
.card input[type="password"],
.card button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.column1 .card {
    flex: 1;
    margin-right: 1rem;
}

.column1 .row:nth-child(4),
.column1 .row:nth-child(5) {
    flex-direction: row;
    margin-bottom: 0;
}

.column1 .card:nth-child(6) {
    margin-right: 0;
}

.card button {
    background-color: #24CAAB;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #1AAB8E;
}

.prof-card{
    border-radius: 10px;
    margin: 1rem 2rem 1rem 2rem;
}

.change{
    box-shadow: 0px 0px 3px #24CAAB;
    padding: 1rem;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #24CAAB;
}

.footer {
    background-color: #3498db; 
    height: 100px; 
}

/** Media Queries **/

@media screen and (max-width: 1350px) {
    .column2 .row {
        justify-content: center;
    }

    .column2 img {
        width: 55px;
        margin: 5px;
    }
}

@media screen and (max-width: 1100px) {
    .column2 .row {
        justify-content: center;
    }

    .column2 img {
        width: 100px;
        margin: 10px;
    }

    .pokemon-card {
        max-width: 15rem;
    }

    .pokemon-card h3 {
        font-size: 16px;
    }
    
    .pokemon-card p {
        font-size: 9px;
    }

    .pokemon-card .pokemon-img {
        width: 40%;
        height: auto; 
        margin: 0 auto; 
    }
}

@media screen and (max-width: 1053px) {
    .mewrow{
        flex-direction: column;
        row-gap: 10px;
    }

    .pokemon-card {
        max-width: calc(100% - 20px);
        margin-right: 0;
    }

    .pokemon-card .pokemon-info {
        padding: 14px;
    }

    .pokemon-card h3 {
        font-size: 1.2rem;
    }

    .pokemon-card p {
        font-size: 14px; 
    }

    .pokemon-card .pokemon-img {
        width: 40%; 
        height: auto;
        margin: 0 auto; 
    }

}

@media screen and (max-width: 900px) {
    .column2 .row {
        justify-content: center; /* Center the medals horizontally */
    }

    .column2 img {
        width: 70px; /* Adjust the width of the medal images */
        margin: 10px; /* Add margin between the medals */
    }

    .pokemon-card {
        max-width: calc(100% - 20px); /* Adjust the maximum width of the pokemon card */
        margin-right: 0; /* Remove the right margin to ensure full width */
    }

    .pokemon-card .pokemon-info {
        padding: 10px; /* Adjust the padding of the pokemon info */
    }

    .pokemon-card h3 {
        font-size: 20px; /* Adjust the font size of the heading */
    }

    .pokemon-card p {
        font-size: 14px; /* Adjust the font size of the paragraph */
    }

    .pokemon-card .pokemon-img {
        width: 40%; /* Adjust the width of the image */
        height: auto; /* Ensure the height adjusts proportionally */
        margin: 0 auto; /* Center the image horizontally */
    }

    .mewrow{
        flex-direction: column;
        column-gap: 10px;
    }
}

@media screen and (max-width: 768px) {
    .user-pic,
    .user-info,
    .social {
        flex-grow: 1;
        width: 100%;
    }

    .user-info{
        margin-left: 0rem;
    }

    .user-stats {
        display: flex;
        flex-direction: row;
    }

    .stat {
        width: initial;
    }

    .user-stats-bio {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-bio {
        text-align: left;
        padding: 0;
        max-width: 400px;
    }

    .user-bio p {
        max-width: 100%;
    }

    .social {
        width: 100%;
        min-width: 0;
        margin-left: 1rem;
    }

    .social img {
        margin: 3rem 0rem 0rem 0rem;
        max-width: 1.3rem;
    }

    .content-section {
        display: flex;
        flex-direction: column;
    }

    .column1 {
        flex-grow: 1;
        margin: 1rem;
    }

    .column2{
        margin: auto;
    }

    .column2 .row {
            justify-content: center; /* Center the medals horizontally */
    }
    
    .column2 img {
            width: 70px; /* Adjust the width of the medal images */
            margin: 10px; /* Add margin between the medals */
    }

    .mewrow{
        flex-direction: row;
        column-gap: 10px;
    }

    .pokemon-card h3 {
        font-size: 1.15rem; /* Adjust the font size of the heading */
    }
}


/*Phones */
@media screen and (max-width: 512px) {

    .user-pic {
        width: 100%;
        text-align: center;
    }

    .user-pic img {
        margin: 0.5rem auto;
    }

    .user-info {
        text-align: center;
        margin-top: 10px; /* Adjust as needed */
        margin-left: 10px;
    }

    .user-info h2 {
        font-size: 1.2rem; /* Adjust the font size of the username */
        margin: 0.5rem 0rem 0rem -1rem; /* Adjust the margins of the username */
    }

    .user-info p {
        font-size: 12px; /* Adjust the font size of the user info */
        margin: 0rem -5rem 0rem -1rem; /* Adjust the margins of the user info */
    }

    .follow-btn {
        font-size: 10px; /* Adjust the font size of the follow button */
        margin: 0.5rem -5rem 0rem -1rem; /* Adjust the margins of the follow button */
    }

    .user-bio{
        margin: auto;
        text-align: center;
        padding: 0rem 1rem 0rem 1rem;
    }

    .user-bio p {
        font-size: 11px; /* Adjust the font size of the user bio */
        padding-left: 1rem; /* Adjust the padding of the user bio */
    }

    .social {
        width: 100%;
        min-width: 0;
        text-align: center;
        margin-left: -0.5rem
    }

    .social img {
        margin: 1rem 0;
    }

    .upper-user-info .row{
        margin-bottom: 0;
    }

    /**/

    .content-section {
        display: flex;
        flex-direction: column;
    }

    .column1 {
        flex-grow: 1;
        margin: 1rem;
    }

    .column2 {
        width: 100%;
        margin: auto;
    }

    .pokemon-card {
        max-width: calc(100% - 1rem); /* Adjust the maximum width of the pokemon card */
        margin-bottom: 10px; /* Add margin bottom to create space between cards */
    }

    .pokemon-card .pokemon-info {
        padding: 10px; /* Adjust the padding of the pokemon info */
    }

    .pokemon-card h3 {
        font-size: 1.3rem; /* Adjust the font size of the heading */
    }

    .pokemon-card p {
        font-size: 12px; /* Adjust the font size of the paragraph */
    }
    .column2 .card {
        padding: 0.5rem; /* Adjust the padding of the card */
    }

    .column2 h2 {
        font-size: 20px; /* Adjust the font size of the column2 heading */
    }

    .column2 img {
        width: 6.4rem; /* Adjust the width of the images in column2 */
        margin-right: 5px; /* Adjust the margin-right of the images in column2 */
    }

    .mewrow{
        flex-direction: column;
        row-gap: 10px;
    }

}

@media screen and (max-width: 450px) {

    .user-pic {
        width: 50%;
        text-align: center;
    }

    .user-pic img {
        margin: 0.5rem auto;
        width: 4rem;
    }

    .user-info {
        text-align: center;
    }

    .user-info h2 {
        font-size: 1rem; /* Adjust the font size of the username */
        margin: 0rem 0rem 0rem -1rem; /* Adjust the margins of the username */
    }

    .user-info p {
        font-size: 10px; /* Adjust the font size of the user info */
        margin: 0rem 0rem 0rem -0.3rem; /* Adjust the margins of the user info */
    }

    .follow-btn {
        font-size: 9px; /* Adjust the font size of the follow button */
        margin: 0.5rem -5rem 0rem -0.3rem; /* Adjust the margins of the follow button */
    }

    .user-bio{
        margin: auto;
        text-align: center;
        padding: 0rem 1rem 0rem 1rem;
    }

    .user-bio p {
        font-size: 11px; /* Adjust the font size of the user bio */
        padding-left: 1rem; /* Adjust the padding of the user bio */
    }

    .social {
        display: none;
    }

    .upper-user-info .row{
        margin-bottom: 0;
    }

    .user-stats {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; /* Adjust gap as needed */
        margin-bottom: 20px; /* Adjust as needed */
    }

    .user-stats .stat {
        width: auto;
        border-right: none; /* Remove right border */
        padding-right: 0; /* Remove right padding */
        text-align: center;
    }

    .first-stat{
        padding-left: 0rem;
    }
        
}

@media screen and (max-width: 373px) {
    .column2 img {
        width: 4rem; /* Adjust the width of the images in column2 */
        margin-right: 5px; /* Adjust the margin-right of the images in column2 */
    }

    .pokemon-card {
        max-width: calc(100% - 1rem); /* Adjust the maximum width of the pokemon card */
        margin-bottom: 10px; /* Add margin bottom to create space between cards */
    }

    .pokemon-card .pokemon-info {
        padding: 10px; /* Adjust the padding of the pokemon info */
    }

    .pokemon-card h3 {
        font-size: 16px; /* Adjust the font size of the heading */
    }

    .pokemon-card p {
        font-size: 10px; /* Adjust the font size of the paragraph */
    }
}
