body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    background-color: #24CAAB;
    color: white;
    padding: 5px 20px;
    height: 60px;
}

main {
    padding-top: 60px;
    padding-left: 3rem;
    padding-right: 3rem;
}

.footer {
    background-color: #3498db; 
    height: 100px; 
}

.row {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align columns to the start */
    flex-wrap: wrap;
    margin-left: auto; /* Set left margin to auto */
    margin-right: auto; /* Set right margin to auto */
}

#category-row {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    margin-left: auto; /* Set left margin to auto */
    margin-right: auto; /* Set right margin to auto */
    margin-top: 20px; /* Optional: Add margin to push it down from the top */
}

/* Style the column of category-row */
#category-row .column {
    text-align: center; /* Center the content horizontally */
    min-width: 40px; /* Set a minimum width for the column */
    flex: 1 1 auto; /* Allow the column to grow and shrink */
    margin: 0 -5px; /* Adjust margin as needed */
    max-width: 55px;
    padding-right: 3rem;
    transition: transform 0.2s ease; /* Add transition for smooth scaling */
}

#category-row .column:hover {
    transform: scale(1.1); /* Scale up the category on hover */
}

/* Style the link */
#category-row .column a {
    display: block; /* Make the link a block element */
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color from parent */
}

/* Style the image */
#category-row .column img {
        height: auto;
        max-width: 100%; /* Set a maximum width of 100% of its parent container */
        min-width: 2rem; /* Set a minimum width for the image */
        width: auto; /* Allow the image to scale down while maintaining aspect ratio */
}

/* Style the paragraph */
#category-row .column p {
    margin: 0rem 0rem 0rem 0rem; /* Reset margin */
    text-align: center; /* Center the text */
    line-height: 1; /* Adjust line height to vertically center the text */
    font-size: small;
    color: #1A8996
}


#blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.column {
    text-align: center;
    flex: 0 0 auto;
    width: calc(10% - 20px); /* Adjust this value as needed */
    margin: 0 10px;
}

.column img {
    width: 80px; /* Adjust size as needed */
    height: 80px; /* Adjust size as needed */
    margin-bottom: 10px;
}

.column p {
    margin: 0;
}

hr {
    border: none; /* Remove the default border */
    border-top: 1px solid #ccc; /* Apply a solid border on the top */
    margin: 20px 0; /* Add margin above and below the <hr> for spacing */
}

/* Additional styles for cards */
.card {
    position: relative; /* Ensure the card is positioned relatively */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
    box-sizing: border-box;
    text-align: center;
    margin: 0.5rem;
    border-radius: 25px;
    box-shadow: 1px 1px 2px #afafaf;
    background-image: url('/assets/images/fullbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, background-image 0.3s ease, opacity 0.3s ease;
}

.card:hover {
    transform: translateY(-10px) scale(1.05); /* Move the card 10 pixels up and scale it by 5% on hover */
    background-color: #f4f4f4; /* Change background color */
    background-image: url('/assets/images/fullnightbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card img {
    position: relative; /* Ensure the image is positioned relatively */
    width: 90%;
    margin: -1rem;
    transition: transform 0.3s ease; /* Add transition for smooth movement */
}

.card:hover img {
    animation: shake 0.7s ease; /* Apply the shake animation on hover */
}

@keyframes shake {
    0% { transform: translateX(0); } /* Start at the original position */
    25% { transform: translateX(-4px); } /* Move left */
    50% { transform: translateX(3px); } /* Move right */
    75% { transform: translateX(-3px); } /* Move left */
    100% { transform: translateX(0); } /* Return to the original position */
}

.card .card-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    box-shadow: 1px 1px 2px #afafaf;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top: 6px solid #24CAAB;
    position: relative; /* Ensure positioning context for absolute positioning */
}

.card .title {
    margin: 0rem 1rem 0rem 0.5rem;
    font-weight: bold;
    text-align: left;
}

.card .description {
    margin: 1rem 0;
    text-align: left;
    max-width: 200px;
}

.cart-button {
    position: absolute; /* Position absolutely within the container */
    bottom: 1.8rem; /* Adjust this value as needed */
    left: 88%; /* Align to the center */
    transform: translateX(-50%); /* Center horizontally */
    width: 2rem;
    height: 2rem;
    background-color: #24CAAB;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#cart{
    width: 1.9rem;
    padding: 1rem 1rem 1rem 0.8rem;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Horizontally center the cards */
    align-items: center; /* Vertically center the cards */
    margin: auto;
    max-width: 1200px; /* Adjust the maximum width as needed */
}

/* Ensure columns are displayed as flex items */
.pagination .column {
    display: flex;
    align-items: center;
}

/* Align items vertically */
.pagination {
    display: flex;
    flex-grow: 1; /* Allow the pagination container to grow to fill available space */
    justify-content: space-between; /* Align items to the start and end of the row */
    align-items: center; /* Align items vertically */
    margin-bottom: 1rem;
}

/* Reset margin */
.pagination-title {
    margin: 0;
}

/* Style the title */
.pagination-title {
    font-size: 2rem;
    font-weight: 700;
    color: #1A8996;
}

/* Add space between buttons */
.pagination button {
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.pagination .column .btn-image {
    width: 30px; /* Set the desired width */
    height: auto; /* Let the height adjust proportionally */
}

/* Row 3 Stylings */

#chara{
    height: 40rem;
    width: auto;
    margin-top: 2rem;
}

.advert {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.container-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-radius: 40px;
    box-shadow: 5px 5px 2px #cacaca;
    background-image: url('/assets/images/fullbg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.container-card .column,
.container-card-2 .column {
    flex: 1;
}

.container-card img,
.container-card-2 img {
    max-width: 100%;
}

.container-card .title,
.container-card-2 .title {
    font-size:2.5rem;
    text-shadow: 2px 2px 3px #5c5c5c;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1rem;
    color: white;
}

.container-card .description,
.container-card-2 .description {
    text-align: left;
    text-shadow: 2px 2px 3px #5c5c5c;
    margin-bottom: 1rem;
    color: white;
}

.container-card .mini-title {
    font-size:2rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
}

.container-card-2 .mini-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
}

.container-card .mini-description,
.container-card-2 .mini-description {
    text-align: left;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
}

.container-card-2 .mini-description{
    font-size: 0.9rem;
}

.container-card .shop-now-button,
.container-card-2 .shop-now-button {
    background-color: #ffffff;
    color: #24CAAB;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.container-card .shop-now-button:hover,
.container-card-2 .shop-now-button:hover {
    background-color: #000000;
}

.container-card .shop-now-button:active,
.container-card-2 .shop-now-button:active {
    opacity: 0.7;
}

.mini-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    margin-top: 1rem;
    padding: 1rem;
}

.mini-card .column {
    flex: 1;
}

.mini-card img {
    max-width: 100%;
}

.mini-card .title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.mini-card .description {
    margin-bottom: 0;
}

.mini-card .mini-pic{
    width: 6rem;
    height: auto;
}

.card-desc{
    padding-right: 5rem;
}


.container-card-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-radius: 40px;
    box-shadow: 5px 5px 2px #cacaca;
    background-image: url('/assets/images/fullbg3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

/* Media Queries */




@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 1rem); /* Change width to half of the container for screens up to 768px */
    }
}

/* Adjust the layout for even smaller screens */
@media screen and (max-width: 480px) {
    .card {
        width: 100%; /* Change width to full width for screens up to 480px */
    }
}