body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    background-color: #24CAAB;
    color: white;
    padding: 5px 20px;
    height: 60px;
}

main {
    padding-top: 60px;
    padding-left: 1rem;
    padding-right: 1rem;
}

a{
    text-decoration: none;
}