body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    background-color: #24CAAB;
    color: white;
    padding: 5px 20px;
    height: 60px;
}

main {
    padding-top: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
}

a{
    text-decoration: none;
}

#r2{
    padding: 2rem;
}

.banner{
    position: relative;
    margin: 0rem 2rem;
    width: auto;
    height: 20rem;
}

.banner-content {
    padding: 20px;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    text-align: center;
}

.banner-content img {
    box-shadow: 2px 2px 3px #8b8b8b;
    border-radius: 20px;
    width: 90vw;
    height: 300px; /* Set a fixed height */
    object-fit: cover; /* Crop the image to fit the container */
}

/* New styles for the title and description */
.banner-content .title {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    color:#15707a;
}

.banner-content .description {
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem 1.5rem 1rem 1.5rem;
    color:#15707a;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap into multiple rows */
    justify-content: space-around;
    margin-bottom: 20px;
}

.row-2{
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
}

.cat-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(20% - 1rem); /* Adjust the width of each card */
    box-sizing: border-box;
    text-align: center;
    margin: 0.5rem;
    border-radius: 25px;
    box-shadow: 2px 2px 3px #8b8b8b;
    overflow: hidden;
}

.cards-container:hover .cat-card {
    transition: transform 0.4s ease;
}

.cat-card:hover {
    transform: scale(1.2); 
    z-index: 1; 
    background-repeat: no-repeat;
    background-size: cover;
}

.cat-card img {
    width: 100%;
    height: auto;
    transition: transform 0.4s ease; 
}

.cat-card .overlay {
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.3s ease, left 0.3s ease; 
}

.cat-card:hover .overlay {
    transform: translateY(0);
    opacity: 1;
    left: 0; 
}

.cat-card:hover{
    cursor: pointer;
}

.cat-card:hover img {
    transform: scale(1.3); 
    transition: transform 0.4s ease; 
}

.cat-card .overlay .title {
    color: white; 
    font-size: 1.5rem; 
    margin-bottom: 0.5rem; 
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.cat-card .overlay .price {
    color: white; 
    font-size: 1rem; 
    font-style: italic; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.cat-card .overlay .price-container {
    display: flex;
    align-items: center;
}

.cat-card .overlay .price-icon {
    width: 20px; 
    height: auto;
    margin-right: 5px; 
}

.cat-card .title {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.cat-card .price {
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; /* Adjust the alignment of items */
    margin: auto;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex: 1;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #24CAAB; /* Change as needed */
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1a8a97; /* Change as needed */
}

#r3, #r4 {
    margin: 0rem auto; /* Center the entire row horizontally */
    padding: 20px;
    text-align: center;
    max-width: 1200px; /* Limit the maximum width */
}

#r3 .card-content {
    background-image: url('/assets/images/fullnightbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    border-radius: 15px;
    padding: 2rem 1rem 1rem 1rem; /* Add padding to the card content */
    width: 100%;
}

#r4 .card-content {
    background-image: url('/assets/images/fullbg3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    border-radius: 15px;
    padding: 2rem 1rem 1rem 1rem; /* Add padding to the card content */
    width: 100%;
}

#r3 h2 {
    color: #fff;
    text-shadow: 0px 0px 16px #0b484e;
    font-size: 2rem; /* Adjust font size as needed */
    margin-bottom: 1rem; /* Adjust margin as needed */
}

#r4 h2 {
    color: #0b484e;
    text-shadow: 0px 0px 16px #fff;
    font-size: 2rem; /* Adjust font size as needed */
    margin-bottom: 1rem; /* Adjust margin as needed */
}

.row-3 {
    display: flex;
    flex-direction: column; /* Arrange elements vertically */
    justify-content: center;
    align-items: center;
}

.column {
    text-align: center;
    margin: 0.5rem 0; /* Adjust vertical spacing */
}

.btn {
    display: inline-block;
    padding: 12px 24px; /* Increased padding for better visibility */
    background-color: #fff;
    color: #0b484e;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Added transform transition */
    margin: 0.5rem 0;
    border: none; /* Remove default border */
    font-size: 16px;
    font-weight: 700;
    width: 16rem;
    box-shadow: 2px 2px 4px #535353;
}

.btn:hover {
    background-color: #0b484e;
    transform: scale(1.2); /* Grow bigger on hover */
    color: white
}

.footer{
    margin-top: 3rem;
}

/* For screens smaller than 1200px */
@media screen and (max-width: 1200px) {
    .cat-card {
        width: calc(25% - 1rem); /* Adjust width for 4 cards per row */
    }
}

@media screen and (max-width: 992px) {
    .cat-card {
        width: calc(33.33% - 1rem); /* Adjust width for 3 cards per row */
    }

    .banner-content .title {
        margin-top: 1rem;
        font-size: 1.8rem;
    }
    .banner-content .description {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {

    main{
        padding-top: 0px;
    }

    .cat-card {
        width: calc(50% - 1rem); /* Adjust width for 2 cards per row */
    }

    .banner-content .title {
        font-size: 1.5rem;
    }
    .banner-content .description {
        font-size: 1rem;
    }
}

@media screen and (max-width: 730px) {
    .cat-card {
        width: calc(50% - 1rem); /* Adjust width for 2 cards per row */
    }

    .banner-content img {
        box-shadow: 2px 2px 3px #8b8b8b;
        border-radius: 20px;
        width: 80vw;
        height: 250px;
        object-fit: cover;
    }

    .banner-content .title {
        font-size: 1.5rem;
    }
    .banner-content .description {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .cat-card {
        width: calc(100% - 1rem); /* Adjust width for 1 card per row */
    }

    .row-2 {
        margin-top: 5rem;
    }
}

@media screen and (max-width: 437px) {
    .banner-content .title {
        font-size: 1.4rem;
    }
    .banner-content .description {
        font-size: 0.9rem;
    }

    .row-2 {
        margin-top: 5rem;
    }
}

@media screen and (max-width: 375px) {

    main{
        padding-left: 0;
        padding-right: 0;
    }

    .banner-content img {
        box-shadow: 2px 2px 3px #8b8b8b;
        border-radius: 20px;
        width: 80vw;
        height: 200px;
        object-fit: cover;
    }
    
    .banner-content .title {
        font-size: 1.4rem;
    }
    .banner-content .description {
        font-size: 0.8rem;
    }

    .row-2 {
        margin-top: 3.4rem;
    }
}