body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    background-color: #24CAAB;
    color: white;
    padding: 5px 20px;
    height: 60px;
}

main {
    padding-top: 60px;
    padding-left: 3rem;
    padding-right: 3rem;
}

.footer {
    background-color: #3498db; 
    height: 100px; 
}

.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

#category-row {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#category-row .column {
    text-align: center;
    min-width: 40px;
    flex: 1 1 auto;
    margin: 0 -5px;
    max-width: 55px;
    padding-right: 3rem;
    transition: transform 0.2s ease;
}

#category-row .column:hover {
    transform: scale(1.1);
}

#category-row .column a {
    display: block;
    text-decoration: none;
    color: inherit;
}

#category-row .column img {
        height: auto;
        max-width: 100%;
        min-width: 2rem;
        width: auto;
}

#category-row .column p {
    margin: 0rem 0rem 0rem 0rem;
    text-align: center;
    line-height: 1;
    font-size: small;
    color: #1A8996
}

.column {
    text-align: center;
    flex: 0 0 auto;
    width: calc(10% - 20px);
    margin: 0 10px;
}

.column img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.column p {
    margin: 0;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

/* Additional styles for cards */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
    box-sizing: border-box;
    text-align: center;
    margin: 0.5rem;
    border-radius: 25px;
    box-shadow: 1px 1px 2px #afafaf;
    background-image: url('/assets/images/fullbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, background-image 0.3s ease, opacity 0.3s ease;
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
    background-color: #f4f4f4;
    background-image: url('/assets/images/fullnightbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card img {
    position: relative;
    width: 90%;
    margin: -1rem;
    transition: transform 0.3s ease;
}

.card:hover > #product-image {
    animation: shake 0.7s ease;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); } 
}

.card .card-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    box-shadow: 1px 1px 2px #afafaf;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top: 6px solid #24CAAB;
    position: relative; 
}

.card .title {
    margin: 0rem 1rem 0rem 0.5rem;
    font-weight: bold;
    text-align: left;
}

.card .description {
    margin: 1rem 0;
    text-align: left;
    max-width: 200px;
}

.cart-button {
    position: absolute;
    bottom: 1.8rem;
    left: 88%;
    transform: translateX(-50%);
    width: 2rem;
    height: 2rem;
    background-color: #24CAAB;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#cart{
    width: 1.9rem;
    padding: 1rem 1rem 1rem 0.8rem;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1200px;
}

.pagination .column {
    display: flex;
    align-items: center;
}

.pagination {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.pagination-title {
    margin: 0;
}

.pagination-title {
    font-size: 2rem;
    font-weight: 700;
    color: #1A8996;
}

.pagination button {
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.pagination .column .btn-image {
    width: 30px;
    height: auto;
}

/* Row 3 Stylings */

#chara{
    height: 40rem;
    width: auto;
    margin-top: 2rem;
}

.advert {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.container-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-radius: 40px;
    box-shadow: 5px 5px 2px #cacaca;
    background-image: url('/assets/images/fullbg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.container-card .column,
.container-card-2 .column {
    flex: 1;
}

.container-card img,
.container-card-2 img {
    max-width: 100%;
}

.container-card .title,
.container-card-2 .title {
    font-size:2.5rem;
    text-shadow: 2px 2px 3px #5c5c5c;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1rem;
    color: white;
}

.container-card .description,
.container-card-2 .description {
    text-align: left;
    text-shadow: 2px 2px 3px #5c5c5c;
    margin-bottom: 1rem;
    color: white;
}

.container-card .mini-title {
    font-size:2rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
}

.container-card-2 .mini-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
}

.container-card .mini-description,
.container-card-2 .mini-description {
    text-align: left;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
}

.container-card-2 .mini-description{
    font-size: 0.9rem;
}

.container-card .shop-now-button,
.container-card-2 .shop-now-button {
    background-color: #ffffff;
    color: #24CAAB;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.container-card .shop-now-button:hover,
.container-card-2 .shop-now-button:hover {
    background-color: #000000;
}

.container-card .shop-now-button:active,
.container-card-2 .shop-now-button:active {
    opacity: 0.7;
}

.mini-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    margin-top: 1rem;
    padding: 1rem;
}

.mini-card .column {
    flex: 1;
}

.mini-card img {
    max-width: 100%;
}

.mini-card .title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.mini-card .description {
    margin-bottom: 0;
}

.mini-card .mini-pic{
    width: 6rem;
    height: auto;
}

.card-desc{
    padding-right: 5rem;
}


.container-card-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-radius: 40px;
    box-shadow: 5px 5px 2px #cacaca;
    background-image: url('/assets/images/fullbg3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

/*Pop-ups*/

.popup-card {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    width: 80%;
    max-width: 400px;
}

.popup-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.popup-item-icon {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.popup-item-name {
    font-size: 20px;
    font-weight: bold;
}

.popup-message {
    margin-bottom: 15px;
    text-align: center;
}

.close-button-container {
    display: flex;
    justify-content: center;
}

.close-button {
    background-color: #24CAAB;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto; 
    display: block;
}

.close-button:hover {
    background-color: #1A8996;
}


/* Media Queries */

@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 1rem); /* Change width to half of the container for screens up to 768px */
    }

    .popup-card {
        width: 90%;
        padding: 20px;
    }
}

/* Adjust the layout for even smaller screens */
@media screen and (max-width: 480px) {
    .card {
        width: 100%; /* Change width to full width for screens up to 480px */
    }

    .popup-card {
        width: 95%;
        padding: 15px; 
    }
}